


.carousel-center{
 border: 1px solid black;
 padding:5px;
 max-width:1200px;
 margin:0 auto;
}

.single-img-item{
 
 padding:1px;
  margin:4px;
  background: grey;
  width:100%;
}

img{
 
  display: block;
 width:100%;
}

.icon-example{
 font-size:25px;
 padding:5px;
 cursor: pointer;
 color:grey;
 transition:all 0.5s ease-in-out;

}

.icon-example:hover{
  
  padding:5px;
  cursor: pointer;
  color:#323232;
 
 }

 @media screen and (min-width:960px){
  .icon-example{
    font-size:35px;
   }
 }



